<div class="container">
  <div id="loginbox"> 
    <%= form_for @user_session, :url => login_path, :html => { :class => "form-vertical", :id => "loginform"} do |form| %>
      
      <div class='control-group'>
        <div class="controls">          
          <p>Username</p>
            <%= form.text_field :username, :placeholder => "Username" %>  
          </div>        
      </div>

      <div class='control-groups'>
        <div class="controls">
          <p>Password</p>
          <%= form.password_field :password, :placeholder => "Password" %>            
        </div>
      </div>
      
      <div class="mtop span2 mleftnone">
          <span class="pull-left">
          <%= form.submit "Sign in", :class => "btn btn-wide btn-primary", "data-loading-text" => "Signing in", :id => "signin_btn" %> 
        </span>
      </div>        
      
    <% end %>
  </div>
</div>

<%= javascript_tag do -%>
  jQuery('#loginform').submit(function () {
    if (jQuery(this).valid()) {      
      jQuery("#signin_btn").button('loading');
    }
  });
<% end %>