<div class="container mtop">
  <div class="model-filter pull-left">
    <%= form_tag locations_path, :method => :get, :class => "pull-left" do %>
      <div class="form-control">
        <%= select_tag :filter_param, options_for_select(location_filters), :selected => params[:filter_param], :class => "span2" %>      
        <%= text_field_tag :filter_value, params[:filter_value], :class => "span2" %>
        <%= submit_tag "Filter", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="pull-right span3">
    <a id="create-location-popup" class="modal-box btn btn-primary" data-backdrop="static" data-toggle="modal" href="#create_location"> Create new</a>

    <%= form_tag destroy_multiple_locations_path, :method => :delete, :class => "delete_multiple_locations pull-right" do %>
      <%= button_to_function('Delete selected', "delete_data()", :class => "btn btn-danger", :id => "delete-multi-btn", :confirm => "Are you sure you want to delete the location?", :disabled => "disabled") %>
    <% end %>
  </div>
  
  <br><br><br><br><br>
  <div>
    <% if @locations.present? %>
      <table class ="table table-striped table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" id="check-all" /></th>
            <th>Unique ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Maximum Output</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        
          <% @locations.each do |location| %>
            <tbody>
              <tr>
                <td><%= check_box_tag "location_ids[]", location.id, false, :class => "check_individual delete_location" %></td>
                <td><%= link_to location.unique_id, location_data_path(location.id) %></td>
                <td><%= location.name %></td>
                <td><%= location.address %></td>
                <td><%= location.maximum_output %></td>
                <td><%= location.lat %></td>
                <td><%= location.long %></td>
                <td><a id="edit-location-popup" class="modal-box" data-backdrop="static" data-toggle="modal" href=<%= "#edit_location_#{location.id}" %>>edit</a></td>
                <%= render :partial => "edit_form", :locals => { :location => location } %>
                <td><%= link_to('delete', destroy_multiple_locations_path(:id => location.id, :location_ids => [location.id]), :method => 'delete', :confirm => "Are you sure you want to delete the location?") %></td>
              </tr>
            </tbody>
          <% end %>

      </table>
      <%= will_paginate @locations %>
    <% else %>
      <p>No locations so far.</p>
    <% end %>
  </div>
  
</div>

<%= render :partial => "new_form" %>
<%= render :partial => "shared/check_box_select" %>

<script>
  function delete_data(){
    var checked_items = jQuery('.delete_location:checked');
    
    var form = $(".delete_multiple_locations")
    $.each(checked_items, function(index, item) { 
      var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "location_ids[]").val(item.value);
      form.append($(input));
    })
    form.submit();
  }
</script>
