<!DOCTYPE html>
<html>
  <head>
    <title>SunShot - Admin Portal</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

  <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>-->
  </head>
    
    
  <body id="scroll">
    <% if signed_in? %>
      <%= render :partial => "layouts/header" %>
      <%= render :partial => "layouts/nav" %>
          
      <% flash.each do |key, value| %>
        <div class="alert <%= key %>">
          <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>
          
    <% else %>
      <%=  render :partial => "layouts/login_header"%>
      <% flash.each do |key, value| %>
        <div class="alert <%= key %>">
          <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    <%end %>  
  </body>
</html>
